<div id="container">
    <h4>Hi, I am Adwait.</h4>
    <h4>This website is a repository of all the notes that I have taken while I learn new technologies.</h4>
    <h4>I forget exact syntax and process of the technologies after some time,
         these notes help me to quickly refer to what I am looking for. Also these notes have
        helped me to quickly re-learn thing that I have not worked on in some time.</h4>
    <h4>I hope this website helps you too.</h4>
    <h4>Thank you for visiting.</h4>
    <app-contact></app-contact>
</div>