<div
  [id] = "scratchPadId"
  class="scratch-pad"
  cdkDrag
  [style.width.px]="dimensions.x"
  [style.height.px]="dimensions.y"
  [style.top.px]="position.y"
  [style.left.px]="position.x"
  [style.z-index]="zIndex"
  cdkDragBoundary="#app-container"
>
  <div class="scratch-pad-head" cdkDragHandle>
    <div class="scratch-pad-title">
      <div class="scratch-pad-title-editable">{{title}}</div>
      <div class="scratch-pad-topic">{{topic}}</div>
      <div class="scratch-pad-date">{{dateString}}</div>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="noteMenu">
      <mat-icon
        class="scratch-pad-handle"
        color="primary"
        aria-label="scratch pad menu"
        >more_vert</mat-icon
      >
    </button>
    <mat-menu #noteMenu="matMenu">
      <button mat-menu-item (click)="save()">
        <mat-icon>save</mat-icon>
        <span>Save</span>
      </button>
      <button mat-menu-item (click)="clear()">
        <mat-icon>clear_all</mat-icon>
        <span>Clear</span>
      </button>
      <button mat-menu-item (click)="exit()">
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
      <button mat-menu-item (click)="saveAndExit()">
        <mat-icon>close</mat-icon>
        <span>Save And Exit</span>
      </button>
    </mat-menu>
  </div>

  <div class="scratch-pad-editable" contenteditable="true" #content>Editable</div>
  <button
    mat-icon-button
    class="scratch-pad-copytoclipboard"
    aria-label="copy to clipboard"
  >
    <mat-icon>copy_all</mat-icon>
  </button>
  <span class="scratch-pad-resize" [id]="scratchPadId+'-resize'"></span>
</div>
