<div
  [id] = "scratchPadId"
  class="scratch-pad"
  cdkDrag
  [style.width.px]="dimensions.x"
  [style.height.px]="dimensions.y"
  [style.top.px]="position.y"
  [style.left.px]="position.x"
  [style.z-index]="zIndex"
  cdkDragBoundary="#app-container"
>
  <div class="scratch-pad-head" cdkDragHandle>
    <div class="scratch-pad-title">
      <div class="scratch-pad-title-editable">Note Title</div>
      <div class="scratch-pad-topic">{{topic}}</div>
      <div class="scratch-pad-date">{{dateString}}</div>
    </div>
    <button mat-icon-button>
      <mat-icon
        class="scratch-pad-handle"
        color="primary"
        aria-label="scratch pad menu"
        >more_vert</mat-icon
      >
    </button>
  </div>

  <div class="scratch-pad-editable" contenteditable="true">Editable</div>
  <button
    mat-icon-button
    class="scratch-pad-copytoclipboard"
    aria-label="copy to clipboard"
  >
    <mat-icon>copy_all</mat-icon>
  </button>
  <span class="scratch-pad-resize" [id]="scratchPadId+'-resize'"></span>
</div>
