<div
  [id]="scratchPadId"
  class="scratch-pad"
  cdkDrag
  [style.width.px]="dimensions.x"
  [style.height.px]="dimensions.y"
  [style.top.px]="position.y"
  [style.left.px]="position.x"
  [style.z-index]="zIndex"
  cdkDragBoundary="#app-content"
  #scratchPad
>
  <div class="scratch-pad-head" cdkDragHandle>
    <div class="scratch-pad-title">
      <div
        class="scratch-pad-title-editable"
        contenteditable="true"
        #scratchPadTitle
      >
        {{ title }}
      </div>
      <div class="scratch-pad-date">{{ dateString }}</div>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="noteMenu">
      <mat-icon
        class="scratch-pad-handle"
        color="primary"
        aria-label="scratch pad menu"
        >more_vert</mat-icon
      >
    </button>
    <mat-menu #noteMenu="matMenu">
      <div mat-menu-item class="color-selector">
        <div
          (click)="changeColor('white')"
          style="background-color: white; min-width: 30px; width: 25%"
        ></div>
        <div
          (click)="changeColor('lightyellow')"
          style="background-color: lightyellow; min-width: 30px; width: 25%"
        ></div>
        <div
          (click)="changeColor('darkgoldenrod')"
          style="background-color: darkgoldenrod; min-width: 30px; width: 25%"
        ></div>
        <div
          (click)="changeColor('darkcyan')"
          style="background-color: darkcyan; min-width: 30px; width: 25%"
        ></div>
        <div
          (click)="changeColor('lightcoral')"
          style="background-color: lightcoral; min-width: 30px; width: 25%"
        ></div>
        <div
          (click)="changeColor('lightseagreen')"
          style="background-color: lightseagreen; min-width: 30px; width: 25%"
        ></div>
      </div>
      <button mat-menu-item (click)="save(false)">
        <mat-icon>save</mat-icon>
        <span>Save</span>
      </button>
      <button mat-menu-item (click)="save(true)">
        <mat-icon>save</mat-icon>
        <span>Update</span>
      </button>
      <button mat-menu-item (click)="clear()">
        <mat-icon>clear_all</mat-icon>
        <span>Clear</span>
      </button>
      <button mat-menu-item (click)="close()">
        <mat-icon>close</mat-icon>
        <span>Close</span>
      </button>
    </mat-menu>
  </div>

  <div class="scratch-pad-editable" contenteditable="true" #content>
    Editable
  </div>
  <button
    mat-icon-button
    class="scratch-pad-copytoclipboard"
    aria-label="copy to clipboard"
    (click)="copyContentToClipboard()"
  >
    <mat-icon>copy_all</mat-icon>
  </button>
  <span class="scratch-pad-resize" [id]="scratchPadId + '-resize'"></span>
</div>
