<div id="container">

  <div id="web-dev">
    <div class="title-container">
      <img class="avatar" src="assets/images/articles/languages/stalker.png" alt="language icon" aria-hidden="true">
      <div class="title">Projects</div>
    </div>
    <div id="title-description"></div>

  <div class="cards-container">
    <mat-card class="card" *ngFor="let topic of projects" (click)="onCardClick(topic.page)">
      <mat-card-header>
        <div mat-card-avatar>
          <img class="avatar" [src]="topic.imageSrc" alt="language icon" aria-hidden="true">
        </div>
        <mat-card-title>{{ topic.title }}</mat-card-title>
        <mat-card-subtitle>{{ topic.subTitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ topic.description }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>FAV</button>
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    Language Avatar Images used on this page were downloaded from <strong><a target="_blank" href="https://icons8.com">icon8.com</a></strong>.
  </div>
</div>
