<div id="login-form-container">
  <img src="./assets/images/account/books-1.jpg" id="login-img" />
  <form id="login-form">
    <mat-form-field class="login-input" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="login-input" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-input">Login</button>

    <div id="options">
      <div id="inline-options">
        <div id="remeber">
          <input type="checkbox">
          <mat-label>Remember Me</mat-label>
        </div>
        <div id="forgot">
          <mat-label>Forgot Password</mat-label>
        </div>
      </div>
      <div id="other-options">
        <mat-label>Not a Member? Join Us</mat-label>
      </div>
    </div>
  </form>
</div>
