<mat-drawer-container id="app-container" autosize #container>
  <!-- Side Nav -->
  <mat-drawer
    mode="side"
    [opened]="isDesktop"
    [disableClose]="isDesktop"
    #matDrawer
  >
    <div id="side-nav" #sideNav>
      <div
        id="nav-title"
        routerLink=""
        style="cursor: pointer"
      >
        <img id="title-img" src="assets/navicon.ico" />
        <h1 id="title-text">dwait</h1>
      </div>
      <mat-divider></mat-divider>

      <app-search id="search-box"></app-search>

      <div id="top">
        <a routerLink="/notes" class="side-nav-link">
          <mat-icon>newspaper</mat-icon>
          <h3>Notes</h3></a
        >

        <a routerLink="/projects" class="side-nav-link">
          <mat-icon>engineering</mat-icon>
          <h3>Projects</h3></a
        >

        <a routerLink="/about" class="side-nav-link">
          <mat-icon>lens_blur</mat-icon>
          <h3>About</h3></a
        >

        <div (click)="onOpenNotesDialog()" class="side-nav-link" *ngIf="userLoggedIn">
          <mat-icon>description</mat-icon>
          <h3>Scratch Pad</h3></div
        >
      </div>

      <div id="bottom">
        <mat-divider></mat-divider>

        <div *ngIf="!userLoggedIn">
          <a routerLink="/account/login" class="side-nav-link">
            <mat-icon>login</mat-icon>
            <h3>Login</h3></a
          >

          <a routerLink="/account/signup" class="side-nav-link">
            <mat-icon>connect_without_contact</mat-icon>
            <h3>Join</h3></a
          >
        </div>

        <div *ngIf="userLoggedIn" >
          <a (click)="logoutUser()" routerLink="" class="side-nav-link">
            <mat-icon>logout</mat-icon>
            <h3>Logout</h3></a
          >
          <a routerLink="/account/dashboard" class="side-nav-link">
            <mat-icon>manage_accounts</mat-icon>
            <h3>Dashboard</h3></a
          >
        </div>
      </div>
    </div>
  </mat-drawer>

  <!-- App Content -->
  <div id="app-content" [style.overflow-y]="appContentOverflowY">
    <div id="mobile-controls" *ngIf="!isDesktop">
      <button
        id="side-nav-button"
        mat-icon-button
        color="primary"
        aria-label="side nav button"
        (click)="matDrawer.toggle()"
      >
        <mat-icon *ngIf="!matDrawer.opened" aria-label="open menu"
          >apps</mat-icon
        >
        <mat-icon *ngIf="matDrawer.opened" aria-label="close menu"
          >cancel</mat-icon
        >
      </button>
    </div>

    <!-- Router Outlet -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
